<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hệ thống quản lý nội bộ</a>
    <div class="d-flex">
      <span class="navbar-text text-white me-3">
        Xin chào <%= current_user.name if defined?(current_user) %>
      </span>
    </div>
  </div>
</nav>
