<div class="d-flex flex-column p-3">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "Quản lý sự kiện", '', class: "nav-link active" %>
    </li>
    <li>
      <%= link_to "Tài khoản", '', class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Quản lý thẩm quyền", '', class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Đăng xuất", '', method: :delete, class: "nav-link text-danger" %>
    </li>
  </ul>
</div>
